.auth-root {
    height 100%;
    width: 100%;
    display: flex;
    
    &__image {
    // background: #efefef url("./cropped-pexels-photo-373076-6.jpeg");  
    background: #efefef
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // filter: blur(3px);
    height 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index 0;
        }
    }

.auth-form {
    z-index 1;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc
    align-self: center;
    margin: auto;
    width: 800px;
    height 400px;
        background: white;
    

    &__image {
        
        width 50%;
        background: #efefef url("./dc486960-701e-421b-b145-70d04f3b85be.jpg"); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius:  10px 0 0 10px ;
        }
}

    