 .lobby {
     display: flex;
     flex-direction: row;
     width: 1100px;
     margin: 0 auto;

     &__user-info {
         display: flex;
         flex: 1;
         background: #efefef;
         flex-direction: column;
         }
    &__user-filters {
        display: flex;
         flex: 3;
         background: #ccc;
         flex-direction: column;
        }
    &__new-rooms {
        display: flex;
         flex: 1;
         background: #efefef;
         flex-direction: column;
        }
 }