* {
    margin: 0;
    padding: 0;
}

body {
    height 100vh;
}

#app-container {
    width: 100%;
    height: 100%;
    }

.root-div {
    width: 100%;
    height: 100%;
    background: #efefef;    
}

.nav-bar {
    }